#kalkulacka {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    background-color: #f9f9f9;
}

#display {
    width: 95%;
    height: 55px;
    margin-bottom: 10px;
    font-size: 33px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#buttons button {
    width: 60px;
    height: 60px;
    margin: 2px;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #28ACFFFF;
    cursor: pointer;
}

div input[type="submit"]:hover {
    transform: scale(1.02);
}

#C{
    width: 175px;
    height: 60px;
    margin: 2px;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: DarkOrange;
    cursor: pointer;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}