body {
    min-height: 100%; /* aby pokrylo celú výšku obrazovky */
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;      /* aby sa vedelo natiahnuť podľa obsahu */
}
#menu {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 300px;
    margin:  100px auto;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px) saturate(160%);
    -webkit-backdrop-filter: blur(12px) saturate(160%);
    border: 1px solid rgba(255, 255, 255, 0.25);

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    color: #000000;
}
#menu h1 {
     margin-bottom: 20px;
}

#menu input[type="submit"] {
    width: 95%;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(104, 104, 104, 0.411);
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
}

#menu input[type="submit"]:hover {
    transform: scale(1.02);
}