div {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 300px;
    margin:  100px auto;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
}
div h1 {
     margin-bottom: 20px;
}

div input[type="submit"] {
    width: 95%;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: #28ACFFFF;
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
}

div input[type="submit"]:hover {
    transform: scale(1.02);
}