h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

body {
    min-height: 100%; /* aby pokrylo celú výšku obrazovky */
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;      /* aby sa vedelo natiahnuť podľa obsahu */
}
